# Carpeta node_modules
node_modules/

# Archivos de registro y archivos temporales
logs/
*.log
*.swp
*.swo
*.tmp

# Archivos compilados
dist/

# Dependencias de desarrollo
dev/

# Archivos de caché
.cache/

# Dependencias de Bower
bower_components/

# Cobertura
coverage/

# Resultado de pruebas unitarias
test-result

# Dependencias de NPM
npm-debug.log*
yarn-debug.log*
yarn-error.log*
